<div class="blue-background mt-4">
  <section class="container">
    <div class="row justify-content-center text-center fw-semibold">
      <div class="col-sm-12 col-md-5 col-lg-4 mb-4 margin margin-first">
        <a href="/userProfile">
          <div class="bg-white shadow rounded-4 padding">
            <img src="assets/images/carita.png" alt="user-icon">
            <h3>Tu cuenta</h3>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-4 mb-4 margin">
        <a href="/gestionVoluntariado">
          <div class="bg-white shadow rounded-4 padding">
            <img src="assets/images/carita.png" alt="user-icon">
            <h3>Voluntariado</h3>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-4 mb-4 margin">
        <a href="/gestionEmpresas">
          <div class="bg-white shadow rounded-4 padding">
            <img src="assets/images/carita.png" alt="user-icon">
            <h3>Empresas</h3>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-4 mb-4 margin">
        <a href="/gestionInscripciones">
          <div class="bg-white shadow rounded-4 padding">
            <img src="assets/images/carita.png" alt="user-icon">
            <h3>Inscripciones</h3>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>

