<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid mx-lg-5 ">
    <a class="navbar-brand d-flex align-items-center mt-3" href="/home">
      <img src="assets/images/icon.png" alt="icono" class="imagen-size">
      <h4 class="title">
        Voluntariado
      </h4>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fw-bold ms-md-3" id="navbarTogglerDemo02">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto justify-content-lg-end fs-5">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/empresas']" >Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" *ngIf="!isSignedIn">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" *ngIf="!isSignedIn">Register</a>
        </li>
        <li class="nav-item" *ngIf="isSignedIn">
          <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="singOut()" *ngIf="isSignedIn">Log out</a>
        </li>
      </ul>
      <form class="d-flex mx-lg-5" (submit)="filtroBusquedas()">
        <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search"  name="searchQuery" [(ngModel)]="query">
        <button class="button-color-primary px-3 py-2" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
