<div class="container">
  <div class="d-flex">
    <button class="button-color-primary mt-4" [routerLink]="'/crearVoluntariado'">Añadir voluntariado</button>
  </div>

  <div >
    <div class="table-responsible">
      <table class="table table-striped mt-4" >
        <thead >
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Empresa</th>
          <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let voluntariado of voluntariados">
          <th scope="row">{{voluntariado.id}}</th>
          <td>{{ voluntariado.city }}</td>
          <td>{{ voluntariado.description }}</td>
          <td>{{ voluntariado.id_empresa }}</td>
          <td class="text-center">
            <div class="justify-content-center align-items-center">
              <button class="button-color-secondary my-2 p-2 px-2 me-3" [routerLink]="['/editarVoluntariado', voluntariado.id]">Editar</button>
              <button type="button" class="button-color-secondary my-2 p-2 px-2" data-bs-toggle="modal" [attr.data-bs-target]="'#empresa' + voluntariado.id">
                Eliminar
              </button>
            </div>
          </td>
        </tr>
        </tbody>
        <div *ngFor="let voluntariado of voluntariados" class="modal fade" id="empresa"  [id]="'empresa' + voluntariado.id" tabindex="-1" aria-labelledby="empresaModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="empresaModalLabel">¡Cuidado!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ¿Estás seguro que quieres eliminar el voluntariado?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" (click)="deleteVoluntariado(voluntariado.id)" data-bs-dismiss="modal" class="btn btn-primary" >Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </table>
    </div>
  </div>
</div>
