<section class="container form-width">
  <div class="bg-white mt-5 shadow rounded-4 pt-5">
    <form class=" d-flex justify-content-center mt-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group form-width-input  margin fw-semibold pb-5">
        <div *ngIf="errorMessage?.email" class="alert alert-danger" role="alert">
          {{errorMessage?.email}}
        </div>
        <div *ngIf="errorMessage?.password" class="alert alert-danger" role="alert">
          {{errorMessage?.password}}
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <button type="submit"  class="button-color-primary px-3 py-2">Submit</button>
      </div>
    </form>
  </div>
</section>
